#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 910px;
    /* background-color: bisque; */
    padding: 20px 40px 20px 40px;

}


#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}
#on-center{
    background-color: white;
    position: relative;
}
#time_on_center{
    width: 100px;
    height: 40px;
    display: flex;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
}
#center{
    
}
#time-center{
    display: flex;
    width: 360px;
    align-items: center;
    padding-bottom: 30px;
}
#time-center span{
    margin-right: 10px;
}
.itr{

    padding: 6px;
    background-color: #e34d73;
    border-radius: 20px;
    color: white;

}
.imggirl{
    width: 100%;
    object-fit: cover;
}
#picture-center{
    padding-top: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    position: relative;
}

#mic_color{
    position: absolute;
    right: 30px;
    top: 30px;
}
#connect-name{
    display: flex;
    width: 150px;
    height: 40px;
    background-color: rgb(117 118 120 / 53%);
    align-items: center;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 5px;
    justify-content: center;
    color: #f8f9fa;
}
#mnpicture-center{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.picture-center1{
    position: relative;
}
.img-people{
    
    border-radius: 10px;
}
.mic_on_zoom{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.name_on_zoom{
    display: flex;
    width: 120px;
    height: 25px;
    background-color: rgb(117 118 120 / 53%);
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}
#menu-footer{
    display: flex;
    margin: 20px;
    justify-content: center;
}
#menu-footer img{
    margin-right: 15px;
}
#menu-footer div{
    background-color: #f22128;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}

#right {
    width: 440px;
}
#top-right{
    padding-left: 20px;
    border-left: 2px solid #ccc ;
    border-bottom: 2px solid #ccc ;
}
#title-right{
    display: flex;
    align-items: center;
    position: relative;
    
}
#people-add{
    padding: 7px;
    border: 1px solid #ec89a2;
    color: #ec89a2;
    position: absolute;
    right: 10px;
    border-radius: 10px;
}
.user{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
}
.option{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}
.option img{
    padding-right: 10px;
}
#chat-right{

}
#on-chat-right{
    padding: 20px;
    border-left: 1px solid #ccc;
}
.people-chat{

}
.decription-on-chat{
    line-height: 25px;
    position: relative;
    justify-content: space-around;
}
.decription-on-chat p{
    width: 310px;
    height: 56px;
    position: absolute;
    background-color: #ecebeb;
    padding: 10px;
    left: 50px;
    border-radius: 5px;
}
#add-text-chat{
    padding-top: 100px;
    padding-left: 5px;
    display: flex;
    position: relative;
}
#add-text-chat input{
    width: 300px;
    height: 40px;
    border: none;
    background-color: #f3f4f6;
}